<div class="large-2 columns">
  <ul class="side-nav">
    <li><h4><%= link_to "Posts", admin_posts_path %></h4></li>
    <li><h4><%= link_to "New Post", new_admin_post_path %></h4></li>
    <li class="divider"></li>
    <li><h4><%= link_to "Images", admin_images_path %></h4></li>
    <li class="divider"></li>
    <li><h4><%= link_to "Profile", edit_admin_admin_path(current_admin) %></h4></li>
  </ul>
</div>
