<% provide(:title, 'Welcome') %>
<div class="row">
  <div class="large-12 columns border lav">
    <div class="slideshow-wrapper">
      <div class="preloader"></div>
      <ul data-orbit>
        <li>
          <img src="http://placekitten.com/g/1000/500" />
          <div class="orbit-caption">Amazing</div>
        </li>
        <li>
          <img src="http://placekitten.com/g/1000/500" />
          <div class="orbit-caption">Beautiful</div>
        </li>
        <li>
          <img src="http://placekitten.com/g/1000/500" />
          <div class="orbit-caption">Pretty</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns border blush">
    <% if @featured %>
      <h4><%= @featured.title %></h4>
      <p>
        <%== markdown(@featured.body.truncate(250)) %>
      </p>
    <% end %>
  </div>
  <div class="large-7 large-offset-1 columns border lav">
    <h4>#katpark</h4>
    <ul class="instagram small-block-grid-3"></ul>
  </div>
</div>
