---
import Layout from "../layouts/Layout.astro";
import { Image, getImage, ImgAttributes } from "astro:assets";
import paisley from "";

interface Dimensions {
  width: number;
  height: number;
}

function maxWidth(max: number, { width, height }: Dimensions): Dimensions {
  const ratio = height / width;

  return { width: max, height: max * ratio };
}

function maxHeight(max: number, { width, height }: Dimensions): Dimensions {
  const ratio = width / height;

  return { width: max * ratio, height: max };
}

const glob = await Astro.glob("/src/assets/*").then((files) => {
  return files.map((file) => file.default);
});
const images = await Promise.all(
  glob.map((i: any) => {
    console.log(i, { ...i, ...maxWidth(300, i) });
    return getImage({ ...i, ...maxWidth(300, i) });
  })
).then((i) => {
  console.log(i);
  return i;
});
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <ul class="images">
      {
        Array.from({ length: 15 })
          .fill(images[0])
          .map((i: any) => {
            return (
              <li class="image">
                <Image src={i.src} {...i.attributes} alt="photo" />
              </li>
            );
          })
      }
    </ul>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .images {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-auto-rows: 1fr; */
    gap: 20px 20px;
    grid-auto-flow: row;

    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .image {
    display: flex;
    border-radius: 3px;
    border: solid 1px var(--theme-on-background--light);
    padding: 15px;
  }

  .image img {
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }

  .image img:hover {
    transform: scale(0.98);
    border-radius: 0;
  }
</style>
