<div class="large-4 columns">
  <h4>Images</h4>
    <table class="table-scroll">
      <tbody>
        <% if @images %>
          <% @images.each do |image| %>
            <tr>
              <td><%= image_tag image.avatar.url(:thumb) %></td>
              <td><a class="add-image button" href="#" data-image-name="<%= remove_ext(image.avatar_file_name) %>" data-image-url="<%= image.avatar.url %>">Add Image</a></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
