<article>
  <h2><%= post.title %></h2>
  <p><%== markdown(post.body).truncate(300) %></p>
  <%= link_to "Edit", edit_admin_post_path(post), class: "button small secondary" %>
  <%= link_to "Delete", admin_post_path(post), method: "delete", confirm: "Are you sure?", class: "button small alert" %>
</article>
<hr>
