<article>
  <h2 class="post-title"><%= link_to post.title, post_path(post.slug) %></h2>
  <%= render partial: 'posts/post_info', locals: { post: post} %>
  <p><%== markdown(post.body).truncate(140) %></p>
  <%= link_to post_path(post.slug), class:"read-more" do %>
    Read More <i class="icon-arrow-right"></i>
  <% end %>
</article>
<hr>
