<div class="row">
  <div class="large-5 columns">
    <div class="row">
      <div class="small-4 columns">
        <div class="circle">
          <%= image_tag gravatar(post.author.email, 100) %>
        </div>
      </div>
      <div class="small-8 columns">
        <ul class="post-info">
          <li>
            <i class="icon-user"></i>
             <%= post.author %>
          </li>
          <li>
            <i class="icon-calendar"></i>
             <%= post.created_at.strftime('%b %d, %Y') %>
          </li>
          <li>
            <i class="icon-comment"></i>
             <%= link_to "", "#{post_path(post.slug)}#disqus_thread", class: "disqus-comment-count" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
