<% provide(:title, 'Blog') %>
<%= render 'layouts/page_title' %>
<div class="row">
  <section id="posts" class="large-12 columns">
    <%= render @posts %>
  </section>
  <div class="large-12 columns">
    <%= render 'pagination' %>
  </div>
</div>

<% content_for :postjs do %>
  <%= render 'disqus-comments' %>
<% end %>
