<% provide(:title, @post.title) %>
<%= render 'layouts/page_title' %>
<div class="row">
  <article class="large-12 columns">
    <%= render partial: 'post_info', locals: { post: @post} %>
    <p><%== markdown(@post.body) %></p>
    <hr>
    <%= render 'disqus-thread' %>
  </article>
</div>
