/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

 // Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

.title-area li img{
 position: relative;
 top: -5px;
 left: -5px;
}

.top-bar .title-area .name {
  h1 a {
    color: #969696;
    font-family: 'Raleway', san-serif;
  }
}

.top-bar .top-bar-section ul li > a {
  color: #969696;
  font-family: 'Podkova', serif;
}

.alert-box {
  text-align: center;
  a.close {
    position: relative;
    right: 0;
  }
}
 header {
  margin-bottom: 40px;
 }

textarea.post {
  height: 100%;
}

footer {
  margin-top: emCalc(60px);
}

.errorExplanation {
 background-color: #FFC1C1;
 padding: 20px;
 border: solid 2px #FF0000;
  h2 {
    font-size: 1.2em;
  }
  ul {
    padding-left: 40px;
    font-size: .9em;
    margin-top: -10px;
  }
  li {

  }
  p {

  }
}

.field_with_errors {
  input[type="text"] {
    border: solid 1px #FF0000;
  }
}

.border {
  border-style: solid;
  border-width: 20px;
  padding: 15px;
  margin-bottom: 60px;
}
.blush {
  @extend .border;
  border-color: #FED9DF;
}

.lav {
  @extend .border;
  border-color: #EFCDF8;
}

.orbit-bullets {
  display: none;
}

.page-title {
  float: right;
  font-size: 3em;
}

.instagram {
  li {
    margin-top: emCalc(20px);
    img {
      -webkit-transition: box-shadow 500ms ease 0.2s;
      -moz-transition: box-shadow 500ms ease 0.2s;
      -o-transition: box-shadow 500ms ease 0.2s;
      transition: box-shadow 500ms ease 0.2s;
      box-shadow: 3px 3px 0px 0px #969696;
    }
    img:hover {
      box-shadow: 6px 6px 0px 0px #969696;
    }
  }
}

.disqus-comment-count{
  color: black;
  &:hover {
    color: black;
  }
}

.post-info {
  list-style: none;
}
