/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

.top-bar .title-area .name {
  h1 a {
    color: #969696;
    font-family: 'Raleway', san-serif;
  }
}

.top-bar-section .left {
  background-color: transparent;
  position: relative;
  top: -5px;
  left: -60px;
  padding-left: 0px;
  li a:not(.button) {
    background-color: transparent;
  }
  a:hover {
    background-color: transparent;
  }
}

.top-bar .top-bar-section ul li > a {
  color: #969696;
  font-family: 'Podkova', serif;
}

.alert-box {
  text-align: center;
}
 header {
  margin-bottom: 40px;
 }

textarea.post {
  height: 100%;
}

footer {
  margin-top: 40px;
}

.errorExplanation {
 background-color: #FFC1C1;
 padding: 20px;
 border: solid 2px #FF0000;
  h2 {
    font-size: 1.2em;
  }
  ul {
    padding-left: 40px;
    font-size: .9em;
    margin-top: -10px;
  }
  li {

  }
  p {

  }
}

.field_with_errors {
  input[type="text"] {
    border: solid 1px #FF0000;
  }
}

.border-blush {
  border-style: solid;
  border-width: 20px;
  border-color: #FED9DF;
  padding: 15px;
  margin-bottom: 60px;
}

.border-lav {
  border-style: solid;
  border-width: 20px;
  border-color: #EFCDF8;
  padding: 15px;
  margin-bottom: 60px;
}

.orbit-bullets {
  display: none;

}


