$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

$blush: #FED9DF;
$lav: #EFCDF8;
$baby: #C0F1F3;
$gray: #969696;
$mint: #CCF8E5;

/* Global Styles */

body {
 background-color: lighten($mint, 7%);
}

header {
  margin-bottom: emCalc(40px);
}

footer {
  background-color: $gray;
  color: white;
  padding-top: emCalc(50px);
  margin-top: emCalc(20px);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Footer */

body {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 100px; /* .push must be the same height as .footer */
}

#social{
  float: right;
  a {
    color: white;
    &:hover {
      color: darken(white, 20%);
    }
    i {
    padding-left: emCalc(20px);
    }
  }
}

/* Tob Bar */

.top-bar .title-area .name {
  h1 a {
    color: $gray;
    font-family: 'Raleway', san-serif;
  }
}

.top-bar .top-bar-section ul li > a {
  color: $gray;
  font-family: 'Podkova', serif;
}

/* Logo */

.title-area li img{
 position: relative;
 top: -5px;
 left: -5px;
}

/* Borders */

.border {
  border-style: solid;
  border-width: 20px;
  padding: emCalc(15px);
  margin-bottom: emCalc(60px);
  background-color: #FFF;
}
.blush {
  @extend .border;
  border-color: $blush;
}

.lav {
  @extend .border;
  border-color: $lav;
}

.baby {
  @extend .border;
  border-color: $baby;
}

/* Alert Box */

.alert-box {
  text-align: center;
  a.close {
    position: relative;
    right: 0;
  }
}

/* Home Page */

.orbit-bullets {
  display: none;
}

.instagram {
  li {
    margin-top: emCalc(20px);
    img {
      -webkit-transition: box-shadow 500ms ease 0.2s;
      -moz-transition: box-shadow 500ms ease 0.2s;
      -o-transition: box-shadow 500ms ease 0.2s;
      transition: box-shadow 500ms ease 0.2s;
      box-shadow: 3px 3px 0px 0px $gray;
    }
    img:hover {
      box-shadow: 6px 6px 0px 0px $gray;
    }
  }
}

#loading {
  color: $gray;
}

/* Posts */

textarea.post {
  height: 100%;
}

.disqus-comment-count{
  color: black;
  &:hover {
    color: black;
  }
}

.post-info {
  list-style: none;
}

h2.post-title a {
  color: $gray;
  &:hover {
    color: darken($gray, 5%)
  }
}

.read-more {
  color: $gray;
  &:hover {
    color: darken($gray, 5%)
  }
}

/* About Page */

#about {
  font-size: 1.2em;
  img {
    float: left;
    margin-right: 15px;
  }
}

.big-letter {
  font-size: 1.5em;
  font-weight: bold;
}

/* Page Titles */

.page-title {
  float: right;
  font-size: 3em;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 20px;
  background-color: lighten($lav, 7%);;
  // -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: lighten($lav, 3%);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  background: $lav;
  // -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: darken($lav, 10%); /* Some darker color when you click it */
  // -webkit-border-radius: 100px;
}
