<footer>
  <div class="row">
    <div class="large-12 columns">
      &copy; 2013 Kat Park &reg;, LLC. All Rights Reserved.
      <div id="social">
        <a target="_blank" href="http://instagram.com/katpark/"><i class="icon-instagram icon-2x"></i></a><a target="_blank" href="https://www.facebook.com/katparkbeauty"><i class="icon-facebook icon-2x"></i></a>
        <a target="_blank" href="https://twitter.com/katpark"><i class="icon-twitter icon-2x"></i></a><a target="_blank" href="http://pinterest.com/katpark/"><i class="icon-pinterest icon-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
