<footer>
  <div class="top-footer">
    <div class="row">
      <div style="" class="top-footer large-6 large-centered columns">
        <span class="icon-stack">
          <a target="_blank" href="http://instagram.com/katpark/">
            <i class="icon-circle icon-2x icon-stack-base"></i>
            <i class="icon-instagram icon-2x icon-dark"></i>
          </a>
        </span>
        <span class="icon-stack">
          <a target="_blank" href="https://www.facebook.com/katparkbeauty">
            <i class="icon-circle icon-2x icon-stack-base"></i>
            <i class="icon-facebook icon-2x icon-dark"></i>
          </a>
        </span>
        <span class="icon-stack">
          <a target="_blank" href="https://twitter.com/katpark">
            <i class="icon-circle icon-2x icon-stack-base"></i>
            <i class="icon-twitter icon-2x icon-dark"></i>
          </a>
        </span>
        <span class="icon-stack">
          <a target="_blank" href="http://pinterest.com/katpark/">
            <i class="icon-circle icon-2x icon-stack-base"></i>
            <i class="icon-pinterest icon-2x icon-dark"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="row">
      <div style="" class="bottom-footer large-6 large-centered columns">
        &copy; 2013 Kat Park &reg;, LLC. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
